/* Veterans Memorial Park */

/***************************
*         Tools            *
***************************/

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.float-none {
    float: none;
}

/***************************
*         Styles           *
***************************/

/* ======== Main ======== */

html {
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color:#dbe5fc;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px #888888;
}

.container > hr {
    margin: 20px 0;
    border-color: #777777;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover, a:focus {
  color: #005580;
  text-decoration: underline;
}

p {
  margin: 0 0 10px;
}

.title {
  color: #999999;
}

.design {
    padding-top: 10px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: inherit;
  font-weight: bold;
  margin: 10px 0;
  line-height: 20px;
}

h1,h2,h3 {
  line-height: 40px;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}

ul {
  padding: 0;
  margin: 0 0 10px 25px;
}

li {
  line-height: 20px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled {
  color: #333333;
  background-color: #e6e6e6;
}

.btn:active, .btn.active {
  background-color: #cccccc;
}

.title hr {
    margin-top: 0px;
}

.news {
    background-color: #eceded;
    padding: 10px;
}

.logo {
    margin-bottom: 10px;
}

.headerText {
    margin-top: 30px;
    margin-left:20px;
}

.headerText > h3 {
    margin: 0px;
}
.headerText > h5 {
    margin: 0px;
    font-style: italic;
}

#galleryPag {
    padding-top: 20px;
}

#gallery {
    text-align: center;
}

#gallery img {
    margin: 10px;
}

.gallDropdown{
  margin-top:-10px;
}

.gallDropmenu {
  position: relative;
  overflow: hidden;
  width: 230px;
  line-height: 1;
  margin-bottom:0px;
  cursor:pointer;
  margin-left: -10px;
}

.galDropdown:hover .gallDropmenu {
  background: #232527;
}

.gallDropmenu .menu-title {
  margin: 2px 0;
  font-weight: bold;
  color: #4e5257;
}

.gallDropmenu .selected {
  margin: 1px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
  cursor:pointer;
}

.gallDropmenu .caret {
  position: absolute;
  right: 130px;
  top: 60%;
}

.gallDropmenu-active {
  display: block;
  position: absolute;
  width: 270px;
  background: #dbe5fc;
  height: auto;
  padding: 11px 0;
  border-bottom: 2px solid #333333;
  display: none;
  margin-left:-10px;
}

.gallDropmenu-active ul {
  margin: 0;
}

.gallDropmenu-active li {
  display: block;
  font-weight: bold;
  font-size:14px !important;
  text-align: center;
}

.gallDropmenu-active li a {
  display: block;
  padding: 4px 20px;
  cursor:pointer;
  border: 0 !important;
  background-color:#dbe5fc;
  font-weight:bold;
}

.gallDropmenu-active li a {
  text-decoration: none;
  width:100%;
}

.gallDropmenu-active li a.drop-selected {
  color: #555555;
} 

.gallDropmenu-active li a:hover {
  color: white;
  background: #555555;
}

.gallTop {
  margin-top:20px;
}

.imageNumber {
  margin-left:40px !important;
}

.imageNumber p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: right;
  line-height: 1;
  margin-top:20px;
  margin-bottom:0px;
}

.imageNumber .number {
  font-size: 18px;
}

.gallHeader {
  margin-bottom: 30px;
}
/* ===== NAV ===== */

.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav li {
  margin-top: 9px;
}
.dropup, .dropdown {
  position: relative;
}

.dropdown-toggle {
  *margin-bottom: -3px;
}

.dropdown-toggle:active, .open .dropdown-toggle {
  outline: 0;
}

.nav .dropdown-toggle .caret {
  margin-top: 8px;
  border-top-color: #777777;
  border-bottom-color: #777777;
}

.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
}

.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: url("../images/glyphicons-halflings.png");
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left:2px;
    margin-top:8px;
    vertical-align: top;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #999999;
}

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: default;
    background-color: transparent;
    background-image: none;
}

.open > .dropdown-menu {
    display: block;
}

.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.nav > .dropdown.active > a:hover,
.nav > .dropdown.active > a:focus {
  cursor: pointer;
}

.nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret, .nav li.dropdown.open a:focus .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
  opacity: 1;
}

.navbar {
  margin-bottom: 30px;
  overflow: visible;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar .navbar-inner {
    padding: 0;
}

.navbar-inner:before,
.navbar-inner:after {
  display: table;
  line-height: 0;
  content: "";
}

.navbar-inner:after {
  clear: both;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
    border-left: 0;
    border-radius: 3px;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #333333;
  text-decoration: none;
  background-color: transparent;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  text-decoration: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
