<?php

	// Veterans Memorial Configuration File
	
	// Set session variables
	session_save_path('session_directory');			// Directory to save session in
	ini_set('session.gc_maxlifetime', 3*60*60); 	// Time until Session expires (3*60*60 = 3 hours)
	ini_set('session.gc_probability', 1);
	ini_set('session.gc_divisor', 100);
	ini_set('session.use_only_cookies', TRUE);

	define('SALT', 'examplesalt');					// SALT

	// Database Configuration
	define("DB_HOST", "localhost");					// Database Host
	define("DB", "exampledb");						// Database Name
	define("USER", "exampledb_user"); 				// Database Username
	define("PASS", "examplepassword");				// Datebase Password

	// SMTP Configuration
	define("SMTP_HOST", "localhost");				// SMTP Host
	define("SMTP_PORT", "465");						// SMTP Port
	define("SMTP_EMAIL", "no-reply@example.com");	// SMTP Email Address
	define("SMTP_PASS", "examplepassword");			// SMTP Password

?>